* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial;
  text-align: center;
}

.questionCont {
  background: black;
  color: white;
  font-size: 4em;
  padding: 1em;
}

#questionList li {
  padding: 10px;
  background: yellow;
  margin: 10px;
  font-size: 2em;
}
#questionList li:hover {
  background: orange;
}

#questionList li.submitted {
  background: #ddd;
}
